/* Atur gaya font default dan hapus margin serta padding dari body */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* Pusatkan konten di dalam komponen App */
.App {
  text-align: center;
}

/* Gaya bar navigasi dengan latar belakang gelap, padding, dan border-radius */
nav {
  background-color: #333;
  padding: 20px;
  width: 50%;
  margin: 20px auto; /* Untuk memposisikan navigasi di tengah dan memberikan ruang atas dan bawah */
  border-radius: 20px;
}

/* Hapus gaya default daftar dan padding dari ul navigasi */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Gaya item daftar navigasi agar ditampilkan secara horizontal dan tambahkan margin pada setiap item */
ul li {
  display: inline-block;
  margin-right: 20px;
}

/* Gaya elemen anchor (link) tanpa garis bawah, warna putih, tebal, dan ukuran font 18px */
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* Ubah warna link saat dihover menjadi kuning dan tambahkan border-radius untuk efek melingkar */
nav ul li a:hover {
  display: block;
  color: #ffcc00;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.249);
  height: 20px;
  width: 110%;
}

/* Tambahkan margin ke elemen container */
.container {
  margin: 20px;
}

/* Gaya untuk alert, seperti menampilkan pesan kesalahan */
.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

/* Anda dapat menambahkan gaya spesifik untuk komponen Anda di bawah komentar ini */

footer {
  height: 80px;
  background-color: #252525;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 0px 20px 50px 0 0;
}

/* Additional styles for BMI Calculator */

.BMICalculator {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.BMICalculator h1 {
  color: #333;
}

.BMICalculator label {
  display: block;
  margin-bottom: 10px;
}

.BMICalculator input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.BMICalculator button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.BMICalculator button:hover {
  background-color: #45a049;
}

.BMICalculator .alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

.BMICalculator h2 {
  margin-top: 20px;
  color: #333;
}

.BMICalculator p {
  margin: 5px 0;
  color: #333;
}
